{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dream of the Red Chamber</title>
  <link rel="stylesheet" href="../../static/css/base.css">
  <script async src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
  <div class="background">
    <span class="title">Dream of the Red Chamber</span>
  </div>

  {% block search %}
  {% endblock %}

  <div class="detail">
    {% block message %}
    {% endblock %}
    {% block detail %}
    {% endblock %}
  </div>
  
  {% block course-table-th %}
  {% endblock %}
  {% block course-table-tb %}
  {% endblock %}
  {% block coursedetail-table %}
  {% endblock %}

  <div class="weblinks">
    <a class="website" href="https://nol.ntu.edu.tw/nol/guest/index.php" target="_blank">台大課程網</a>
    <a class="ptt" href="https://www.ptt.cc/bbs/NTUcourse/index.html" target="_blank">PTT NTUcourse 版</a>
  </div>
</body>
</html>