{% extends "course/base.html" %} 
{% block detail %}
以下是該課程的詳細資訊！
{% endblock %}
{% block coursedetail-table %}
<style>
td {
  border-bottom: solid 1pxrgba(255,255,255,0.1);
	padding: 15px;
  color: #33cccc;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  text-shadow: WHITE 0.1em 0.1em 0.2em;
  vertical-align: middle;
}	
</style>	
<table cellpadding="0" cellspacing="0" border="0">
	<tbody>
		<tr>
			<td>{{ course.class_name }}</td>
			<td>{{ course.credit }}</td>
			<td>{{ course.teacher }}</td>
			<td>{{ course.time }}</td>			
			<td>上課評價</td>
		</tr>                              
	</tbody>
</table>
{% endblock %}
