body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120%;
}   
div.background {
    height: 60%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: infinite;
    animation: slide 20s infinite;
}
@keyframes slide {
    0% {
    background-image: url(../../static/image/01.jpg);
    }
    20% {
    background-image: url(../../static/image/02.jpg);
    }
    40% {
    background-image: url(../../static/image/03.jpg);
    }
    60% {
    background-image: url(../../static/image/04.jpg);
    }
    80% {
    background-image: url(../../static/image/05.jpg);
    }
    100% {
    background-image: url(../../static/image/01.jpg);
    }
}
.title {
    position: absolute;
    bottom:5%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
div.search {
    position: relative;
    height: 20%;
    width: 100%;
}
.search_box {
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    border-radius: 60px;
    background: #33cccc;
}
::placeholder {
  color: white;
  opacity:0.4; 
}
.search_button {
    float: right;
    display: flex;
    transition: 0.3s;
    border-radius: 60%;
    width: 50px;
    height: 50px;
    background: #33cccc;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
}
.search_button > i {
    font-size: 15px;
}
.search_text {
    float: center;
    border: none;
    outline: none;
    transition: 0.3s;
    width: 0px;
    background: none;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 100%;
    line-height: 10px;
    font-weight: bold;
}
.search_box:hover > .search_text {
    width: 300px;
    padding: 0 6px;
}
.search_box:hover > .search_button {
    background: white;
    color: #33cccc;
}
.detail {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 15px;
    color: #33cccc;
    text-shadow: white 1em 1em 2em;
}
div.table {
    height: 35%;
    width: 100%;
}
table {
	width:100%;
	table-layout: fixed;
}
.tbl-header {
	background-color: rgba(51,204,204,0.8);
}
.tbl-content {
  height:200px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(#33cccc,0.3);
}
th {
  padding: 20px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  font-size: 15px;
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
}
td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 15px;
	color: #33cccc;
	text-shadow: WHITE 0.1em 0.1em 0.2em;
	border-bottom: solid 1pxrgba(255,255,255,0.1);
}
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

div.weblinks {
    position: relative;
    height: 5%;
    width: 100%;
    background-color: #33cccc;    
}
.website {
    position: absolute;
    right: 20%;
    color: #fff;
    text-decoration: none;

}
.ptt {
    position: absolute;
    right: 2%;
    color: white;
    text-decoration: none;
}
